/*==================================================
  Typography
  ==================================================*/
@font-face {
  font-family: 'iran';
  src: url('./assets/fonts/IRANSans-Bold-web.eot');
  src: url('./assets/fonts/IRANSans-Bold-web.eot?#iefix') format('eot'),
    url('./assets/fonts/IRANSans-Bold-web.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'iran';
  src: url('./assets/fonts/IRANSans-Medium-web.eot');
  src: url('./assets/fonts/IRANSans-Medium-web.eot?#iefix') format('eot'),
    url('./assets/fonts/IRANSans-Medium-web.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'iran';
  src: url('./assets/fonts/IRANSans-web.eot');
  src: url('./assets/fonts/IRANSans-web.eot?#iefix') format('eot'),
    url('./assets/fonts/IRANSans-web.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'iran';
  src: url('./assets/fonts/IRANSans-Light-web.eot');
  src: url('./assets/fonts/IRANSans-Light-web.eot?#iefix') format('eot'),
    url('./assets/fonts/IRANSans-Light-web.woff') format('woff');
  font-weight: 200;
}
@font-face {
  font-family: 'yekan';
  src: url('./assets/fonts/iranyekanwebregularfanum.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'yekan';
  src: url('./assets/fonts/iranyekanwebboldfanum.ttf');
  font-weight: bold;
}

body {
  direction: rtl;
  font-family: 'iran', 'yekan', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: #303842;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  outline: none;
}
.icon {
  width: 50px;
  height: 50px;
  display: inline-block;
}
svg * {
  font-family: 'iran', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  letter-spacing: 0 !important;
  font-size: 10px;
}
.apexcharts-canvas {
  direction: ltr;
}
.btnGreen {
  background: #53b257 !important;
  color: #fff !important;
  border-radius: 20px !important;
  padding: 7px 14px !important;
  font-size: 14px !important;
}
input[type='text'] {
  font-size: 12px;
}
textarea {
  font-size: 12px !important;
}
.Toastify__toast-body {
  text-align: right;
  font-family: iran;
}
.JDatePicker {
  width: 260px !important;
}
.JDBackground {
  z-index: 1;
}
.form-check-inline .form-check-input {
  margin-left: 0.3125rem !important;
}
.activeTab {
  color: #6bb5ef !important;
  background: rgba(107, 181, 239, 0.2) !important;
}
.activeTab svg {
  fill: #6bb5ef;
}
.activeTab::after {
  content: '';
  width: 4px;
  float: right;
  background: #6bb5ef;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.btnForm {
  font-size: 0.7rem !important;
  border-radius: 15px !important;
  float: left;
  background: #6bb5ef !important;
  color: #fff !important;
  border: none !important;
  box-shadow: none !important;
  padding: 7px 14px;
}
.datepicker-input {
  border-radius: 25px;
  text-align: center;
  line-height: 1.5;
  font-size: 0.7rem;
  padding: 5px 4px;
  border: 1px solid #ced4da;
  width: 100%;
  text-align: right;
}
fieldset.zhaak_fieldset {
  margin: 20px 0px;
  background: #eceff1;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #cfd8dc;
  margin-top: 0px;
  width: 100%;
  border-radius: 0px;
}

legend.zhaak_legend {
  padding: 10px;
  background: #ffffff;
  border: 1px solid #cfd8dc;
  box-shadow: -2px 2px 11px #cfd8dc;
  font-weight: bold;
  border-radius: 5px;
  font-size: 14px;
  text-align: right;
  margin: 30px 0px;
  color: #546e7a;
  display: inline-block;
  width: auto;
}
.apexcharts-tooltip * {
  font-family: 'iran', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.apexcharts-tooltip-marker {
  margin: 0 0 0 10px;
}
.aparnik_multiSelect {
  text-align: right;
}
.aparnik_multiSelect .aparnik__control {
  min-height: 30px;
  border-radius: 15px;
}
.aparnik_multiSelect .aparnik__indicator {
  padding: 2px 4px;
}
.apexcharts-legend-marker {
  margin-left: 5px;
}
@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
}
